<div class="lista">
<app-navegador></app-navegador>
    <body class="contenedor">
        

        <article class="sobreNosotros">
          
        </article>
        <article class="sobreNosotros2">
            <H1>Nuestra Historia</H1>
            <p>
                En Level Up, no simplemente vendemos productos, creamos experiencias. Somos más que una tienda, 
                somos un destino para los apasionados del entretenimiento que buscan llevar su experiencia al siguiente nivel.
                En el corazón de Level Up late la pasión por el mundo del gaming y el entretenimiento. 
                Fundada por un grupo de entusiastas que comparten la visión de transformar la forma en que experimentas
                 tus momentos de ocio, nuestra tienda nació con el propósito de ofrecer a nuestros clientes una selección
                  cuidadosamente curada de productos que reflejan la calidad, innovación y diversión que buscamos en cada
                   uno de nuestros productos
            </p>
            <H1>Variedad para Todos los Gustos</H1>
            <p>
                Sabemos que cada gamer, tiene gustos únicos. Es por eso que en Level Up
                 ofrecemos una amplia variedad de productos para satisfacer todas las preferencias. Desde los últimos 
                 lanzamientos en videojuegos hasta accesorios innovadores y productos de colección, estamos aquí para asegurarnos 
                 de que encuentres lo que necesitas para elevar tu experiencia a nuevos niveles
            </p>
            <H1>Comunidad Level Up</H1>
            <p>
                Más allá de ser una tienda, queremos ser tu comunidad. En Level Up, celebramos la diversidad de nuestra comunidad
                de jugadores y apasionados del entretenimiento. Únete a nosotros en eventos exclusivos, comparte tus experiencias y descubre nuevas formas de conectarte con otros que comparten tu misma pasión.

                En Level Up, estamos comprometidos con la misión de elevar cada momento de entretenimiento. 
                Gracias por elegirnos como tu destino para la excelencia en entretenimiento. ¡Bienvenido a una experiencia que va más allá de las expectativas!
                
                Eleva tu juego con Level Up. ¡Descubre, juega, vive!
            </p>
        </article>
        
    </body>
</div>

