<div class="lista">
    <body class="contenedor">
        <div class="login">
            <h1>Bienvenido</h1>
            <h4>Introduce tu Nombre de usario y Password para poder Entrar</h4>
            <label>Nombre: </label>
            <input type="text" id="nombre">
            <br/>
            <label>Contraseña: </label>
            <input type="password" id="pass">
            <br/>
            <div class="botones">
            <button routerLink="/juego1"> Ir a detalle</button>
            <button routerLink="/usuario"> Entrar</button>
            </div>
        </div>
    </body>
</div>

