<body>
    <h1 class="welcome">🎮¡Bienvenido!🎮</h1>

    <form method="post">
        <fieldset>
            <h1 class="log">Inicia sesión</h1>
    
            <label for="usuario">User:</label><br>
            <input type="text" id="usuario" name="usuario"><br><br>
    
            <label for="password">Contraseña:</label><br>
            <input type="password" id="password" name="password"><br><br>
    
            <button routerLink="/index" class="index">Login</button>
        </fieldset>
    </form>






</body>
