<body class="contenedor">
    <div class="contenedorFooter">
        <article class="vacio3"></article>
        <article class="privacidad">
            <label>LEGAL</label>
            <p> > Condiciones de uso</p>
            <p> > Politica de privacidad</p>
            <p> > Politica de cookies</p>
        </article>
       
        <article class="vacio4"></article>
        <article class="Contacto">
            <label>CONTACTO</label>
            <p> 🏠 Av León nº4 Madrid Cp 13260</p>
            <p> ☎️ telf: +34 613333214</p>
            <p> ✉️ infoinsideGamergmail.com</p>
        </article>

        <article class="vacio5"></article>
        <article class="redesSociales">
            <label>REDES SOCIALES &commat;insideGamers </label>
            <br>
            <br>
            <img src="/assets/imagenes/twitter.png"> 
            
            <img src="/assets/imagenes/instagram.png"> 
           
            <img src="/assets/imagenes/facebook.png"> 
        </article>
        <article class="vacio6"></article>

        <article class="fotominion">
            <img src="/assets/imagenes/minion_01.png"> 
        </article>
        <article class="vacio7"></article>
    </div>
</body>
