
@font-face{
    font-family: Tears in Rain;
    src: url('/assets/letras/Tears in Rain.otf');
}
.cabecera{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:24px;
   height: 140px;
}
h3{
    font-family:Tears in Rain;
   font-size: 200px;
   color:#7D02A6;
   font-style: oblique;
    
}