<div class="lista">
<app-navegador></app-navegador>
<body class="contenedor">
    <div class="juego">
        <h1>{{titulo}}</h1>
        <div class="targeta">
            <div class="imagen">
                <img src="/assets/imagenes/Elden_ring.png">
            </div>
            <div class="contenido">
                <label> ID: {{id}}</label>
                <label> Titulo: {{titulo}}</label>
                <label> Compañia: {{compania}} </label>
                <label> Valoracion: {{valoracion}}</label>
            </div>
        </div>
        <button routerLink="/usuario">Volver</button>
    </div>
</body>
</div>