<div class="lista">
<app-navegador></app-navegador>
    <body class="contenedor">
        <article class="sobreNosotros">
            <p>Gamer es una tienda online especializada en la compra venta de juegos.
                Tenemos desde las novedades hasta los classicos de toda la vida " Las leyendas por asi decirlo"
                Si no encuentras lo que buscas solo tienes que contactar con sobreNosotros y haremos 
                la busqueda por ti para que puedas tener ese juego tan desado.
                Tambien garantizamos que recibas todos los juegos en execelentes condiciones en caso contrario
                te enviariamos otro totalmente gratis.
                Somos una empresa totalmente seria y comprometida nunca dejamos tirado a ningun cliente, solo tienes 
                que hacer un pedido y podras comprobarlo!!
            </p>
        </article>
    </body>
</div>

